
.array-container {
  display: flex;
  text-align: center;
}
.array-bar-container {
  width: 100%;
}

.array-bar {
  width: 2px;
  background-color: turquoise;
  display: inline-block;
  margin: 0 1px;
}

.btn {
  margin-top: 10px;
}

